.heading {
  font-size: 62px;
  text-align: left;
  background-image: linear-gradient(90deg, #dd5e89 65.1%, #f7bb97 112.59%);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  margin-left: 45px;
}
