.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f9faff;
  overflow: scroll;
  margin-left: 400px;
}

.navBar {
  position: fixed;
  left: 250px;
}
